<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<title> Consulta </title>
		<style type="text/css">
			fieldset{
				width: 30%;
				display: block;
				margin: auto;
			}
			.cabecalho{
				display: block;
				text-align: center;
			
			}
			input{
				display: block;
				margin: auto;

			}
			
			
		</style>
	
	</head>
	<body>
		<forma>
			<label for = "dadosConsulta" class = "cabecalho"> Consulta </label>
			<fieldset id = "dadosConsulta">
				<p>
					<label for = "DTconsulta" class="cabecalho"> Data </label>
					<input type = "date" id = "DTconsulta">
				</p>
				<p>
					<label for = "HRconsulta" class = "cabecalho"> Horario </label>
					<input type = "time" id = "HRconsulta">
				</p>
				<p>
				<input type = "submit" value = "Avançar" class = "
				">
				</p>
				
			</fieldset>
		
		</forma>
	
	</body>


</html>