<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	
</head>
<body>
	<form>
		<label for = "animal" class = "cabecalho"> Informações do Pet</label>
				<fieldset id = "animal">
					<p> 
					<label for = "nomePet"> Nome </label>
					<input type = "text" id = "nomePet">
					</p>
					
					<p> 
					<label for = "racaPet"> Raça </label>
					<input type = "text" id = "racaPet">
					</p>
					
					<p> 
					<label for = "especiePet"> Especie </label>
					<input type = "text" id = "especiePet">
					</p>
				
				</fieldset>
				<p><input type = "submit" value = "Avançar"></p>
			</fieldset>
	</form>

</body>
</html>