<!DOCTYPE html>
<html>
	<meta charset = "UTF-8">
	<head>
	<title> Cadastro Tutor </title>
	<style type="text/css">
	
		form{
			width: 30%;
			display: block;
			margin: auto;
		
		}
		p{
			text-align: center;
		
		}
		.cabecalho{
			display: block;
			text-align: center;
		
		}
		fieldset{
			margin-top: 10px;
		
		}
	</style>
	
	

	</head>
	<body>
	
		<form action="">
			<label for = "cadastroTutor" class = "cabecalho"> Informações do Tutor </label>
			<fieldset id = "cadastroTutor">
				<p> 
				<label for = "tutorNome"> Nome: </label>
				<input type = "text" id = "tutorNome">
				</p>
				
				<p>
				<label for = "tutorEndereco"> Endereco: </label>
				<input type = "text" id = "tutorEndereco"> 
				</p>
				
				<p>
				<label for = "tutorTelefone"> Telefone: </label>
				<input type = "text" id = "tutorTelefone"> 
				</p>
				
				
		</form>
	
	</body>


</html>